<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.twoWeekMemo.mapper.UserMapper">

  <select id="findByUsername" resultType="com.example.twoWeekMemo.model.User">
    SELECT id, username, password
    FROM user
    WHERE username = #{username}
  </select>

  <insert id="createUser" parameterType="com.example.twoWeekMemo.model.User">
    INSERT INTO user (username, password)
    VALUES (#{username}, #{password})
  </insert>

</mapper>
